body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	background: url('img/ep_naturalblack.png');
	color: #fff;
}

.header {
	height: 400px;
	background: rgba(82, 91, 86, 0.4) no-repeat;
	background-size: cover;
}

.header a {
	font-size: 20pt;
	color: #fff;
	margin-top: 20px;
	margin-left: 20px;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
}

.header a:hover {
	text-decoration: none;
}

.header p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
}

@media screen and (max-width:760px) {
	.header {
		height: 300px;
	}
	.header a {
		display: none;
	}
	.header p {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 32pt;
	}
}

.main-menu {
	width: 100%;
	background-color: rgb(239, 167, 71);
	text-align: center;
}
.main-menu li {
	display: inline-block;
	line-height: 100px;
	margin-right: 40px;	
	transition: 1s;
}
.main-menu li a {
	color: #000;
	font-size: 18pt;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 100px;
	display: block;
}
.main-menu li:hover {
	background-color: rgba(82, 91, 86, 0.7);
}
.main-menu li:hover a {
	text-decoration: none;
	color: #fff;
}

.hamburger {
	display: none;
	text-align: right;
	padding-right: 50px;
	line-height: 100px;
	background-color: rgb(239, 167, 71);
}

@media screen and (max-width:760px) {
	
	.main-menu {
		padding: 0;
		display: none;
	}
		
	
	.main-menu li {
		display: block;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	
	.header {
		height: 300px;
	}
	
	.header a {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		margin: 0;
	}
	
	.header p {
		display: none;
	}
	
	.hamburger {
	display: block;
	}
}

@media screen and (min-width: 760px) {
	.main-menu {
		display: block!important;	
	}
}

.gallery img {
	width: 100%;	
}
.gallery div {
	padding: 0;
}

.overlay {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 1s ease;
}

.image-container:hover .overlay {
	opacity: 0.7;
}

.image-container:hover img {
	filter: blur(3px);
}
.overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 18pt;
}
.overlay p a {
	color: #fff;
	text-decoration: none;
}

.contact-form {	
	width: auto;
	background: rgba(82, 91, 86, 0.4) no-repeat;
	padding: 100px;
}
.contact-form h1 {
	font-size: 24pt;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.form-control {
	height: 45px;
	border-radius: 0;
	border: 1px solid #000;
}
.form-control::placeholder {
	color: #000;
}
.btn, .btn:hover {
	padding: 15px 25px;
	background-color: #efa443;
	color: black;
	border-radius: 0;
}
.btn-default {
	border: 0;
}

@media screen and (max-width:760px) {
	.contact-form {
		padding: 30px;
	}
}

.footer {
	width: auto;
	background: rgba(82, 91, 86, 0.4) no-repeat;
	height: 200px;
}

.footer img {
	float: left;
	margin-top: 60px;
	margin-left: 80px;
	height: 100px;
	width: auto;
}	
.footer ul {
	margin-top: 100px;
	float: right;
}
.footer ul li {
	display: inline-block;
}
.footer ul li a {
	font-size: 15pt;
	color: #ffffff;
	padding-left: 40px;
	padding-right: 40px;
	display: block;
}

.footer li:hover {	
	text-decoration: none;	
}

.footer li:hover a {
	color: #efa443;
	text-decoration: none;
}

@media screen and (max-width:760px) { 
	.footer img {
		width: 120px;
		height: auto;
		margin: 60px 0 0 0;
		display: block;
	}
	.footer ul {
		margin: 40px 0 0 0;
		text-align: center;
		float: none;
	}
	.footer ul li {
		display: block;
	}
}

.square-blocks div{
	height: 250px;
}

.square-blocks .light-gray-bg {
	background-color: rgba(82, 91, 86, 0.4);
}

.square-blocks .dark-gray-bg {
	background-color: rgba(239, 167, 71, 0.4);
}

.square-blocks p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 32pt;
	text-align: center;
	text-transform: uppercase;
}

.square-blocks span {
	font-size: 32pt;
}

.square-blocks a {
	text-decoration: none;
	color: #000;
}

.square-blocks a:hover {
	color: #b87661;
}

.square-blocks span {
	font-size: 32pt;
}
.square-blocks a {
	color: #000;
}
.square-blocks a:hover {
	color: #F1C40F;
	text-decoration: none;
}

.section-title {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

.about-me img{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
}

.about-me div{
	padding: 0;
}

.about-me p {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
}

.about-me h1 {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	margin-bottom: 20px;
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
}
#vegas {
	height: 800px;
}

.square-blocks-c div {
	height: 250px;
}
.square-blocks-c .light-gray-bg {
	background-color: #3e5b98;
}
.square-blocks-c .dark-gray-bg {
	background-color: #dd4b39;
}

.square-blocks-c p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	font-size: 50pt;
	opacity: 1;

}


.square-blocks-c span {
	font-size: 80pt;
}
.square-blocks-c a {
	color: white;
}
.square-blocks-c a:hover {
	color: rgb(239, 167, 71);

	text-decoration: none;
}